<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spotify Player</title>
  <link rel="stylesheet" href="css/spotify.css">
</head>
<body>

  <div class="player">
    <img id="albumImage" src="" alt="Album Cover">
    <div class="track-info">
      <div id="trackName">Track Name</div>
      <div id="artistName">Artist</div>
    </div>
    <div class="controls">
      <button onclick="previousTrack()"><<</button>
      <button onclick="togglePlay()" id="playPause">PAUSE</button>
      <button onclick="nextTrack()">>></button>
    </div>
    <div class="volume-controls">
      <button onclick="changeVolume(-0.1)">-</button>
      <span>Volume</span>
      <button onclick="changeVolume(0.1)">+</button>
    </div>
  </div>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="js/spotify.js"></script>
</body>
</html>
